{% load static %}
<!DOCTYPE html>
<html>
<head>
	
	<title> Doner Requests</title>
	<link rel="stylesheet" href="{% static 'css/master.css' %}">
</head>
<body>
	<div class="H3">
		<h1>Follow up on Doner Requests</h1>
	</div>

<br>
<div class="F3">
	<form>
	<input class="I13" type="text"  placeholder="order number :00000124"  size="30" width="200px" height="400px" >
	<br><br/>
	<input class="I14" type="text"  placeholder="46917"  size="30" >
	<br><br/>
	<input class="I15" type="text"  value="Number of donors : 5"  size="30" height="50">
	<br><br/>
	<input class="I16" type="text"  value="Order status : published"  size="30" height="50">
	<br><br/>
	<input class="I17" type="text"  value="sufficed"  size="30" height="50">
	<br><br/>
	<button class="B2">Details</button>  
	<br><br/>
	<hr>
	<br>
	<input class="I18" type="text"  placeholder="order number :00000454"  size="30" >
	<br><br/>
	<input class="I19" type="text"  placeholder="88717"  size="30" >
	<br><br/>
	<input class="I20" type="text"  value="Number of donors : 2"  size="30" height="50">
	<br><br/>
	<input class="I21" type="text"  value="Order status : published"  size="30" height="50">
	<br><br/>
	<input class="I22" type="text"  value="sufficed"  size="30" height="50">
	<br><br/>
	<button class="B3">Details</button>  
	<br><br/>
	<hr>
	<br>
	<input class="I23" type="text"  placeholder="order number :00000369"  size="30" >
	<br><br/>
	<input class="I24" type="text"  placeholder="46787"  size="30" >
	<br><br/>
	<input class="I25" type="text"  value="Number of donors : 1"  size="30" height="50">
	<br><br/>
	<input class="I26" type="text"  value="Order status : published"  size="30" height="50">
	<br><br/>
	<input class="I27" type="text"  value="sufficed"  size="30" height="50">
	<br><br/>
	<button class="B4">Details</button>  
	<br><br/>
	<hr>
	<br>
	<input class="I28" type="text"  placeholder="order number :00000124"  size="30" >
	<br><br/>
	<input class="I29" type="text"  placeholder="46917"  size="30" >
	<br><br/>
	<input class="I30" type="text"  value="Number of donors : 5"  size="30" height="50">
	<br><br/>
	<input class="I31" type="text"  value="Order status : published"  size="30" height="50">
	<br><br/>
	<input class="I32" type="text"  value="sufficed"  size="30" height="50">
	<br><br/>
	<button class="B5">Details</button>  
	<br><br/>
	<hr>
	<br>
	<input class="I33" type="text"  placeholder="order number :00000552"  size="30" >
	<br><br/>
	<input class="I34" type="text"  placeholder="46254"  size="30" >
	<br><br/>
	<input class="I35" type="text"  value="Number of donors : 8"  size="30" height="50">
	<br><br/>
	<input class="I36" type="text"  value="Order status : published"  size="30" height="50">
	<br><br/>
	<input class="I37" type="text"  value="sufficed"  size="30" height="50">
	<br><br/>
	<button class="B6">Details</button>  
	<br><br/>
	<hr>
	<br>
	<input class="I38" type="text"  placeholder="order number :00000124"  size="30" >
	<br><br/>
	<input class="I39" type="text"  placeholder="46917"  size="30" >
	<br><br/>
	<input class="I40" type="text"  value="Number of donors : 5"  size="30" height="50">
	<br><br/>
	<input class="I41" type="text"  value="Order status : published"  size="30" height="50">
	<br><br/>
	<input class="I42" type="text"  value="sufficed"  size="30" height="50">
	<br><br/>
	<button class="B7">Details</button>  
	<br><br/>
	


</form>
</div>

</body>
</html>